# ----- Mac
.DS_Store

# ----- env, config vars
*.env
**config**
**var/**

# ----- Files general
*.log
**cache**
**local**
**foo**
**dist**
**temp**
**build
*.sqlite

# ----- Files PROJECT


# ----- XCode
**/UserInterfaceState.xcuserstate
**/DerivedData/
**/xcuserdata/
**.moved-aside
**~.nib
**xcconfig

# ----- Allow
!**template**
!**requirements.txt**
!**runtime.txt**